{% extends 'base.html' %}


{% block title %}
    <title>Detail Meal Plans</title>
{% endblock title %}


{% block content %}
<main class="recipe-grid">
    <div>
        <a href="{% url 'mealplan_edit' mealplan.pk %}">Edit</a>
        <a href="{% url 'mealplan_delete' mealplan.pk %}">Delete</a>
        <a href="{% url 'mealplan_new'%}">CreatNewMealPlan</a>
    </div>
    <h2>Recipes for {{ mealplan.name }} :</h2>
    <div>
    {% for recipe in mealplan.recipes.all %}
        <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
        </p>
    {% endfor %}
    </div>
</main>
{% endblock content %}