{% extends 'base.html' %}


{% block title %}
    <title>Meal Plans List</title>
{% endblock title %}

{% block pagination %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock pagination %}

{% block content %}
<main class="recipe-grid">
    <h4>
        <a href="{% url 'mealplan_new'%}">Creat New</a>
    </h4>

    {% for mealplan in mealplan_list %}
        <div class="recipe-card">
        <h2 class="recipe-card-title">
            <a href="{% url 'mealplan_detail' mealplan.id %}">{{ mealplan.name }}</a>
        </h2>

        <p class="recipe-card-date">{{ mealplan.date }}</p>
        {% for recipe in mealplan.recipes.all %}
        <a href= "{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a>
        {% endfor %}
        </div>
    {% endfor %}
    </main>
{% endblock content %}