{% extends 'base.html' %}

{% block title %}
    <title>Make a New Plan</title>
{% endblock title %}

{% block content %}
<main class="recipe-form">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="control">
      <button class="button">Create this Meal Plan</button>
    </div>
  </form>
</main>
{% endblock content %}